<md-dialog id="add-photo-dialog" aria-label="Picture Zoom" flex="55">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Photo</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="pc.cancel()">
                    <md-icon md-svg-src="../assets/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div layout="column">
            <md-dialog-content flex="75" layout="row" layout-align="center center">
                <br><br><br>
                <span class="add-content" ng-show="!pc.photoToUpload">{{pc.addMessage}}</span>
                <span class="add-content" ng-show="pc.photoToUpload">File to upload: {{pc.photoToUpload[0].name}}</span>
            </md-dialog-content>
            <br><br><br>
            <div flex="75" layout="row" layout-align="center center">
                <md-progress-circular style="margin:auto;" ng-show="pc.statusOn" md-diameter="50" md-mode="indeterminate"></md-progress-circular>
            </div>
            <br><br><br>


            <md-dialog-actions layout="row" layout-align="space-around end">
                <input type="file" id="input-file-id" style="display: none;" file-model="pc.photoToUpload" />
                <md-button ng-show="!pc.photoToUpload" onclick="document.getElementById('input-file-id').click();" class="md-raised md-primary ">Browse...</md-button>
                <md-button ng-show="pc.photoToUpload" ng-click="pc.uploadPhoto()" class="md-raised md-primary ">Upload</md-button>
            </md-dialog-actions>
        </div>

    </form>
</md-dialog>